{% extends 'base.html' %}
{% block title %}
    Работа в Казахстане, поиск персонала и публикация вакансий - hh.kz
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Test Index</h1>
        <a href="{% url 'login_applicant' %}">Войти</a>
        <a href="{% url 'register' %}">Зарегистрироваться</a>
        <a href="#">Создать резюме</a>
        {% if user.is_authenticated %}
            <a href="{% url 'detail' user.pk %}">Личная страница {{ user.username }}</a>
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </div>
{% endblock %}